@model Nekretnina

@{
    ViewData["Title"] = "Detalji";
}

<h1>Nekretnine</h1>



<div>
    <h4>Odaberite vaš novi dom</h4>
    <hr />
    <dl class="container">
        <img src="../img/kuca.jpg" alt="Italian Trulli">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <p>Moderna kuca
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <p> 9000000$
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodavac)
        </dt>
        <p> BluestateCompany
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <p> Park Avenue 32
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <p> Sta reci
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kvadratura)
        </dt>
        <p> 1000m2</p>
        
        
        <img src="../img/kuca4.jpg" alt="Italian Trulli">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <p>Moderna kuca sa bazenom
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <p> 10000000$
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodavac)
        </dt>
        <p> BluestateCompany
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <p> Park Avenue 55
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <p> Odlicna kuca
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kvadratura)
        </dt>
        <p> 1000m2</p>
        
        
        
        <img src="../img/stan3.jpg" alt="Italian Trulli">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <p>Stan New York
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <p> 7000000$
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodavac)
        </dt>
        <p> BluestateCompany
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <p> Park Avenue 32
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <p> Nema mu ravnog
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kvadratura)
        </dt>
        <p> 1000m2</p>
        
    </dl>
</div>
<div>
    <a asp-action="VratiNazad">Nazad na pocetnu</a>
</div>